// City page specific codes goes here.
@use '../settings/color.settings' as *;
@use '../settings/font.settings' as *;

.body-container{
    background: #F5F6F8;
    z-index: 6666;
    position: absolute;
    border-radius: 24px;
    top: 130px;
    width: 100%;
    padding-bottom: 20px;
    &__line{ 
      span{
        border: 2px solid $color-gray-10;
        width: 45px;
        border-radius: 12px;
        margin: 10px 0;
        transition: all 0.3s ease; 
        &:hover{
          border: 2px solid $color-orange;
          cursor: pointer;
        }
      }
    }
}

.tab-list{
 width: 100%;
 button{
  color: $color-gray-30;
  font-size: $base-font--x-small;
  font-weight: $base-font-weight--normal;
  cursor: pointer;
  justify-content: flex-start;
  background-color: $color-white;
  margin: 0 5px 0 0;
  max-width: max-content;
  padding-right: 12px;
  &:hover{
    transition: all 0.3s ease; 
   }
 }
}

.floting-back-btn{
    z-index: 9999;
    top: 40px;
    left: 30px;
    button{
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: all 0.3s ease;
      transform: scale(1);
      &:hover{         
        background-color: $color-orange-10;
        transform: scale(0.97);
      }
    }    
}


.offer-cards{
 padding: 0 5px 0 0;
 max-height: 500px;
  a:hover{
   box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.3);
  }

  &::-webkit-scrollbar {
    width: 6px;  
    height: 6px; 
  }

  &::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #e7e4e3;
    border-radius: 8px;
    border: 6px solid #e7e4e3; 
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #7c7a79;
    cursor: pointer;
  }
}