/* Major Colors Variables */
$color-primary: #000000 !default;
$color-secondary: #AD9D87 !default;

// Color White Variables
$color-white: #ffffff !default;

// Color Black Variables
$color-black: #000 !default;

// Color Gray Variables
$color-gray: #343434 !default;
$color-gray-10: #CACACA !default;
$color-gray-20: #D9D8D8 !default;
$color-gray-30: #A1A1A1 !default;

// Color Orange Variables
$color-orange: #FF9800 !default;
$color-orange-10: #FFCB7F !default;


// RGBA Variables
$color-rgba-10:  rgb(255 152 0 / 60%) !default;